name: YAML Linter

on:
  push:
    branches: [ master, staging, trying ]
  merge_group:
  pull_request:
    types: [ opened, reopened, synchronize, ready_for_review ]

jobs:
  build:
    name: YAML Linter
    if: github.actor != 'PJBot' && github.event.pull_request.draft == false && github.actor != 'DeltaV-Bot'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.6.0

      - name: Setup submodule
        run: |
          git submodule update --init --recursive

      - name: Pull engine updates
        uses: space-wizards/submodule-dependency@v0.1.5

      - name: Update Engine Submodules
        run: |
          cd RobustToolbox/
          git submodule update --init --recursive

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3.2.0
        with:
          dotnet-version: 8.0.x

      - name: Cache NuGet
        id: cache-nuget
        uses: actions/cache@v3
        env:
          cache-name: cache-nuget
        with:
          path: ~/.nuget/packages
          # Look to see if there is a cache hit for the corresponding requirements file
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget
        continue-on-error: true
  
      - name: Install dependencies
        run: dotnet restore
      
      - name: Cache Build
        id: cache-release
        uses: actions/cache@v3
        env:
          cache-name: cache-build-release
        with:
          path: bin
          # Look to see if there is a cache hit for the corresponding requirements file
          key: ${{ runner.os }}-build-release-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-build-release
        continue-on-error: true

      - name: Build
        run: dotnet build --configuration Release --no-restore /p:WarningsAsErrors= /m

      - name: Run Linter
        run: dotnet run --project Content.YAMLLinter/Content.YAMLLinter.csproj --no-build
